:root {
  --padding-wide: 12px;
  --padding-std: 6px;
  --padding-narrow: 3px;
  --background-color: #e0e1dd;
  --secondary-color: #778da9;
  --header-size: 100px;
  --border-radius-std: 7px;
  --arrow-height: 30px;
  }

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
}