
.body{
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.main {
  width: 80%;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas:  'header'
                        'page';
  gap: var(--padding-std);
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.page {
  grid-area: page;
  padding: 0px var(--padding-narrow);
}

.header{
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--secondary-color);

  padding: var(--padding-wide);
  padding-bottom: var(--padding-std);

  .title{
    margin: 0px;
  }

  .navigation{
    align-self: flex-end;
    display: flex;
  }
}