.body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.main {
  width: 100vw;
  padding: var(--padding-std);
  display: grid;
  grid-template-rows: var(--header-size) 1fr;
  gap: var(--padding-wide);
  grid-template-areas: 'header'
    'page';
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

.page {
  grid-area: page;
}

.headerContainer {
  grid-area: header;
  position: sticky;
  top: 0px;
  background-color: var(--background-color);
  border-radius: 0 0 var(--border-radius-std) var(--border-radius-std);
}


.title {
  color: var(--color-primary-title-text);
}

.header {
  position: sticky;
  top: 0px;
  z-index: 5;
  min-height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius-std);

  padding: var(--padding-std);

  border: solid var(--border-size) var(--color-primary-border);

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0px;
    text-align: center;
    flex-grow: 1;
  }

  .navigation {
    align-self: flex-end;
    display: flex;
    background-color: var(--color-primary-light);
    padding: 0 var(--padding-std);
    border-radius: var(--border-radius-std);
  }
}

.shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .2),
    2px 2px 10px rgba(0, 0, 0, .2);

}

.shadow:hover,
.shadow:active {
  transform: translate(0, -1px);
  cursor: pointer;
}

.background {
  background-color: var(--background-color);
}


.cardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-wide);
  justify-content: space-between;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border-size) solid var(--color-primary-border);
    border-radius: var(--border-radius-outer);
    background-color: var(--color-primary-border);

    &>* {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 0 var(--padding-narrow);
    }

    .title {
      margin: 0px;
      background-color: var(--color-primary-dark);
      border-radius: var(--border-radius-std) var(--border-radius-std) 0 0;
    }

    .stack {

      font-size: .9em;
      background-color: var(--color-primary-mid);
      border-radius: 0 0 var(--border-radius-std) var(--border-radius-std);
    }

    .click {
      background-color: var(--background-color);
      font-size: .9em;
      font-style: italic;
    }


    .stack span {
      display: inline;
      word-wrap: unset;
    }
  }

}

.portfolioDetail {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: var(--border-radius-outer);
  border: solid var(--border-size) var(--color-primary-border);
  background-color: var(--color-primary-border);
  padding: 0px;

  &>*{
    background-color: var(--background-color);
  }
  .title {
    background-color: var(--color-primary-dark);
    margin: 0px;
    padding: var(--padding-std) var(--padding-narrow);
    border-radius: var(--border-radius-std) var(--border-radius-std) 0 0;
    text-align: center;
  }

  .description {
    padding-top: var(--padding-std);
    text-align: justify;
  }

  .footer {
    background-color: var(--color-primary-dark);
    border-radius: 0 0 var(--border-radius-std) var(--border-radius-std);
    text-align: center;
    padding: var(--padding-narrow);

    & a {
      display: inline-block;
      background-color: var(--color-primary-light);
      border-radius: var(--border-radius-std);
      padding: 0 var(--padding-std);
    }
  }

}

.portfolioDetail>* {
  padding: var(--padding-narrow);
}

.image {
  z-index: 0;
  width: 100%;
  max-height: 500px;
  object-fit: scale-down;
}

.imageSlider {
  position: relative;
  display: flex;
  flex-direction: column;
}


.iconContainer {
  display: flex;
  gap: var(--padding-wide);
  justify-content: center;
  align-items: center;


  & .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-std);
    height: var(--arrow-height);
    background-color: var(--secondary-color);
    border-radius: calc(var(--arrow-height) *.5);
  }
}

.resume {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-outer);
  border: solid var(--border-size) var(--color-primary-border);
  background-color: var(--color-primary-border);

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
  }

  .title {
    margin: 0px;
    font-size: 2em;
    text-align: center;
    background-color: var(--color-primary-dark);
    border-radius: var(--border-radius-std) var(--border-radius-std) 0 0;
  }

  .subsectionTitle {
    margin: var(--border-size) 0;
    font-size: 1.6em;
    background-color: var(--color-primary-mid);
    text-align: center;
  }

  .noMargin {
    margin-top: 0px;
  }

  .entryTitle {
    margin: 0px;
    font-size: 1.3em;
    background-color: var(--color-primary-light);
    text-align: center;
    padding: 0 var(--padding-std);
  }

  .experienceHeader {
    margin: 0px;
    font-size: 1.2em;
    background-color: var(--color-primary-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-std);


    .role {
      font-style: italic;
    }

    &>div {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      font-weight: 100;
    }

  }

  & ul.highlights {
    padding-right: var(--padding-std);
    text-align: justify;
    margin-bottom: var(--border-size);
    background-color: var(--background-color);

  }

  .footer {
    background-color: var(--color-primary-dark);
    border-radius: 0 0 var(--border-radius-std) var(--border-radius-std);
    text-align: center;
    padding: var(--padding-narrow);

    & span {
      display: inline-block;
      background-color: var(--color-primary-light);
      border-radius: var(--border-radius-std);
      padding: 0 var(--padding-std);
    }
  }

  .name {
    font-size: 1.8em;
    background-color: transparent;
    text-align: center;
    margin: 0px;
    padding: var(--padding-std);
    background-color: var(--background-color);
  }

  .contact>span {
    margin-left: var(--indent);
  }
}


.unlink {
  text-decoration: none;
  color: black;
}


.resume p {
  margin: 0px;
  padding: 0px var(--padding-wide);
  text-align: justify;
}

.resume ul {
  margin: 0px;
}