
.body{
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.main {
  width: 100vw;
  padding: var(--padding-std);
  display: grid;
  grid-template-rows: var(--header-size) 1fr;
  gap: var(--padding-wide);
  grid-template-areas:  'header'
                        'page';
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

.page {
  grid-area: page;
}

.header{
  grid-area: header;
  position: sticky;
  top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--secondary-color);
  border-radius: 7px;

  padding: var(--padding-std);

  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0px;
    text-align: center;
    flex-grow: 1;
  }

  .navigation{
    align-self: flex-end;
    display: flex;
  }
}

.shadow{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .2),
  2px 2px 10px rgba(0, 0, 0, .2);

}

.cardContainer{
  display: flex;
  flex-direction: column;
  gap: var(--padding-wide);
  justify-content: space-between;

  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid var(--secondary-color);
    border-radius: 7px;

    .title{
      margin: 0px;
      background-color: var(--secondary-color);
    }

    .stack{
      background-color: var(--secondary-color);
    }

    .stack span{
      display: inline;
      word-wrap: unset;
    }
  }

  .card:hover{
    transform: translate(0, -1px);
    cursor: pointer;
  }


}